<footer class="footer">
    <div class="footer-main">
        <div class="links section">
            <p>Legales <img src="/public/img/suma.svg" alt="ícono de suma"></p>
            <nav>
                <a href="#">Políticas de privacidad</a>
                <a href="#">Términos y condiciones</a>
                <a href="#">Políticas e servicio</a>
            </nav>
        </div>
        <div class="links section">
            <p>Compras <img src="/public/img/suma.svg" alt="ícono de suma"></p>
            <nav>
                <a href="#">Formas de pago</a>
                <a href="#">¿Cómo comprar?</a>
                <a href="#">Rastrear pedido</a>
            </nav>
        </div>
        <div class="sociales">
            <p>Síguenos</p>
            <div>
                <a href="#"><img src="/public/img/facebook-logo.svg" alt="Logo facebook"></a>
                <a href="#"><img src="/public/img/instagram-logo.svg" alt="Logo instagram"></a>
                <a href="#"><img src="/public/img/twitter-logo.svg" alt="Logo twitter"></a>
            </div>
        </div>
        <div class="newsletter">
            <p>Suscríbete a nuestro newsletter</p>
            <form class="newsletter newsletter-form">
                <input type="email" name="newsletter" placeholder="Déjanos tu email" />
                <button>Enviar</button>
            </form>
        </div>
    </div>
    <p class="copy">InterNerd. Todos los derechos reservados &copy;</p>
</footer>