<header class="header">
    <div class="header-div section">
        <a href="/" class="logo">
            <img src="/public/img/logo-temporal.svg" alt="Logo">
        </a>
        <a href="/login">
            <img src="/public/img/User.svg" alt="ícono de usuario" class="user" />
        </a>
        <a href="/login" class="sesion">Iniciar sesión</a>
        <a href="/signup" class="registro">Registrarme</a>
        <img src="/public/img/Carrito.svg" alt="Carrito" class="carrito">
        <div class="header-search">
            <form>
                <label>
                    <input type="text" name="search" placeholder="Explorar..." />
                    <button><img src="/public/img/Buscar.svg" alt="ícono buscar"></button>
                </label>
            </form>
        </div>
        <img src="/public/img/mobile-menu.svg" class="mobile-menu" alt="Menu mobile">
    </div>
    <nav class="header-navegacion section">
        <a href="/">Inicio</a>
        <a href="/libros">Libros</a>
        <a href="/comics">Cómics</a>
        <a href="/escritorio">De escritorio</a>
        <a href="ropa">Ropa</a>
        <a href="/coleccionable">Coleccionable</a>
    </nav>
</header>