body header i{
    font-size:30px;
    padding: 50px;
}

/*Custom variables*/

:root {
    /*Paleta de colores*/
    --rojo: #D00000;
    --naranja: #F48C06;
    --negro: #03071E;
    --blanco: #FFF;
    /*Fuente principal*/
    --fuente: 'Montserrat', sans-serif;
}


/* Globales */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 1.8;
}

p {
    color: black;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

img,
picture {
    width: 100%;
    display: block;
}

h1,
h2,
h3 {
    font-family: var(--fuente);
    margin: 2.5 0;
    font-weight: 300;
    text-align: center;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

.section {
    margin: 0 auto;
    max-width: 120rem;
    width: 90%
}


/*Header*/


/*Footer*/


/*Fomularios*/


/*Botones*/

#carrito {
    height: 950px;
    width: 500px;
    border: 0.5px solid rgba(0, 0, 0, 0.26);
    
}
#candado{
    width: 30px;
    margin-right: 30px;
    cursor: pointer;
    
    
}
#titleCarrito {
    height: 100px;
    border-bottom: 1px solid #dadadd ;
    display: flex;
    justify-content: space-between;
   

}
body button:hover {
    cursor: pointer;
    

}

#titleCarrito h2 {
    font-size: 26px;
    padding-top: 5px;
    
}

#titleCarrito button {
    background: none;
    border: none;
    font-size: 20px;
    
}

#descCarrito {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dadadd ;
    border-bottom: 1px solid #dadadd ;
    background-color: rgb(248, 248, 245);
}

#descCarrito p {

    margin-right: 80px;
    font-size: 16px;
    
} 


.producto{
   
    padding: 1px;
    border-bottom: 1px solid #dddada ;


}

.producto img{
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;

}

#close{
    display: flex;
    justify-content: end;
    color: #9ea0a5;
    margin-top: 20px;
    margin-right: 30px;
}
#tituloProd{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-right: 100px;
    font-size: 16px;
    margin-top: -90px;
    
    
}
#precioProd {
    display: flex;
    justify-content: center;
    margin-top:-20px;
    margin-right: 100px;
    font-size: 15px;
    
    
}


.signal{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: -10px;
    cursor:pointer
    
}

.signal i{
    margin:20px;
    margin-top: 10px
  
}
#close{
    cursor: pointer;
}
#close:hover{
    color: #020000;
}


.footerWidth{
    
    height: 120px;
    margin-top: 460px;
    margin-bottom: 15px;
    background-color: rgb(248, 248, 245);;
    border-top: 1px solid #dadadd ;
    

}

#boton1:hover{
    background-color: #03071E;
    color: #FFF;
   
}
#boton1{
    color:#03071E;
    background-color: #eef76f;
    font-size: 16px;
    width: 45%;
    height: 40%;
    font-family: var(--fuente);
    margin-left: 30px;
    margin-top: 60px;
    border-radius: 10px;
    border:none;



}
#boton2{
    color:#03071E;
    background-color: #F48C06;
    font-size: 16px;
    width: 25%;
    height: 40%;
    font-family: var(--fuente);
    margin-left: 20px;
    margin-top: 40px;
    border-radius: 10px;
    border:none;

}
#boton2:hover{
    background-color: #03071E;
    color: #FFF;;

}


.footerWidth h5{
    cursor: pointer;
    text-align: center;
    background-color:#03071E;
    padding-bottom: 2px;
    color:#FFF;
    
    
}


.footerWidth h4{
    margin-left: 40px;
    margin-top: -155px;
    font-size: 16px;
}
.footerWidth p{
    font-size: 16px;
    margin-left: 335px;
    margin-top: -50px;
    
   

}

@media screen and (max-width: 375px) {
    
   #carrito{
       width: 350px;
       height: 660px;
   }
   #titleCarrito h2{
    font-size: 17px;
    padding-top: 20px;
   }
   
#titleCarrito button {
    background: none;
    border: none;
    font-size: 17px;
    
}
#descCarrito p {

    margin-right: 30px;
    font-size: 13px;
    
} 
.producto img{
    width: 50px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;

}
#tituloProd{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-right: 50px;
    font-size: 12px;
    margin-top: -80px;
    
    
}
.signal{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-top: -10px;
    cursor:pointer
    
}

.signal i{
    margin:15px;
    margin-top: 10px
  
}
.footerWidth{
    
    height: 120px;
    margin-top: 240px;
    margin-bottom: 15px;
    background-color: rgb(248, 248, 245);;
    border-top: 1px solid #dadadd ;
    

}
#boton1{
    color:#03071E;
    background-color: #eef76f;
    font-size: 13px;
    width: 40%;
    height: 40%;
    font-family: var(--fuente);
    margin-left: 30px;
    margin-top: 60px;
    border-radius: 10px;
    border:none;



}
#boton2{
    color:#03071E;
    background-color: #F48C06;
    font-size: 13px;
    width: 40%;
    height: 40%;
    font-family: var(--fuente);
    margin-left: 20px;
    border-radius: 10px;
    border:none;

}

.footerWidth h4{
    margin-left: 40px;
    margin-top: -155px;
    font-size: 16px;
}
.footerWidth p{
    font-size: 15px;
    margin-left: 260px;
    margin-top: -50px;
    
   

}

}