<html lang="en">
    <%- include('../partials/head')%>
<body>
    
    <%-include('../partials/header.ejs') -%>


    <!-- TODO LO RELACIONADO CON CREACION-PRODUCTO -->

    <section class="section producto">
        <div>
            <img src="../public/img/Producto.jpg" class="img"></img>
        </div>
        <div>
            <div class="info">
                <h3 class="title-prodcto"><strong>Funko Pop The Simpsons-Homero Simpson</h3></strong>
                    <p class="precio">$7,229,99</p>
                    <p class="stock">Hay stock</p>
                    <a href="carrito"></a><button class="btn">Añadir al carrito</button></a>
                    <span>Con esta compra sumas 1000 puntos</span>
                    <br>
            </div>
            <div>
                <h1>Descripción</h1>
                <p>Funko Funko Pop The Simpsons-Homero Simpson está disponible con diferentes características. Cómpralo en Internerd y benefíciate de todas las ventajas. Además este producto tiene la garantía oficial de Funko
                </p>
            </div>
        </div>
    </section>
    
    <%- include('../partials/footer')%>
    <script src="/public/js/app.js">
    </script>
</body>
</html>
