<html lang="en">
    <%- include('../partials/head')%>
<body>
    
    <%-include('../partials/header.ejs') -%>


    <!-- TODO LO RELACIONADO CON CREACION-PRODUCTO -->
    
    <%- include('../partials/footer')%>
    <script src="/public/js/app.js">
    </script>
</body>
</html>
