<html lang="en">

<%- include('./partials/head')%>

    <body>
        <%- include('./partials/header')%>
           
            <main >
               <div>
                   <img src="../Public/img/Producto.jpg" alt="producto_homero">
               </div>
            </main>
            
          
            
            <%- include('./partials/footer')%>

                <script src="/public/js/app.js">
                </script>
    </body>

</html>

