<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,100;1,200;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/CSS/normalize.css">
    <link rel="stylesheet" type="text/css" href="/public/CSS/styles.css">
    <title>InterNerd-Home</title>
</head>

<body>
    <header class="header">
        <div class="header-div">
            <img src="/public/img/logo-temporal.svg" alt="Logo" class="logo">
            <a href="#">
                <img src="/public/img/User.svg" alt="ícono de usuario" class="user" />
            </a>
            <a href="#" class="sesion">Iniciar sesión</a>
            <a href="#" class="registro">Registrarme</a>
            <img src="/public/img/Carrito.svg" alt="Carrito" class="carrito">
            <div class="header-search">
                <input type="text" name="search" placeholder="Explorar..." />
                <img src="/public/img/Buscar.svg" alt="ícono buscar">
            </div>
            <img src="/public/img/mobile-menu.svg" class="mobile-menu" alt="Menu mobile">
        </div>
        <nav class="header-navegacion">
            <a href="#">Libros</a>
            <a href="#">Cómics</a>
            <a href="#">De escritorio</a>
            <a href="#">Ropa</a>
            <a href="#">Coleccionable</a>
        </nav>
    </header>
    <h1>¡Bienvenido a InterNerd!</h1>
    <h2>¡Explora la red que quieras!</h2>
    <main class="section main">
        <div class="contenedor">
            <a href="#"><img src="/public/img/marvel.svg" alt="Logo de Marvel"></a>
        </div>
        <div class="contenedor">
            <a href="#"><img src="/public/img/DC_Comics_logo.svg" alt="Logo de DC"></a>
        </div>
        <div class="contenedor">
            <a href="#"><img src="/public/img/hp.svg" alt="Logo de Harry Potter"></a>
        </div>
        <div class="contenedor">
            <a href="#"><img src="/public/img/star-wars.svg" alt="Logo de Star wars"></a>
        </div>
        <div class="contenedor">
            <a href="#"><img src="/public/img/Simpsons.svg" alt="Logo de Los simpsons"></a>
        </div>
    </main>
    <h2>Producto destacado</h2>
    <section>
        <img src="/public/img/Producto.jpg" alt="Producto destacado">
        <div>
            <h3>Funko Sofá de Homero</h3>
            <p>Nisi duis proident veniam sunt dolore fugiat tempor magna consectetur. Velit laboris aute irure sunt laboris fugiat reprehenderit quis ut minim. Excepteur labore excepteur adipisicing excepteur amet commodo minim. Ad et dolore Lorem incididunt
                adipisicing eiusmod et nisi ex culpa voluptate. Sunt fugiat cupidatat minim in incididunt aliquip aute proident nostrud.</p>
            <a href="#">Ver producto</a>
        </div>
    </section>
    <h2>¿No te gusta? Echa un vistazo a otros produtos de tu interés</h2>
    <section>
        <img src="/public/img/Producto1.jpg" alt="Imagen de producto 1">
        <p>Incididunt laborum laboris voluptate dolor consequat commodo amet tempor esse est. Fugiat cillum ex id laboris nostrud ullamco deserunt aliqua in id mollit veniam. Aliqua aute quis ipsum eu ad excepteur sint consectetur non anim ullamco. Et adipisicing
            culpa exercitation aute tempor sit.</p>
    </section>
    <footer>
        <div>
            <div>
                <p>Legales</p>
                <nav>
                    <a href="#">Políticas de privacidad</a>
                    <a href="#">Términos y condiciones</a>
                    <a href="#">Políticas e servicio</a>
                </nav>
            </div>
            <div>
                <p>Compras</p>
                <nav>
                    <a href="#">Formas de pago</a>
                    <a href="#">¿Cómo comprar?</a>
                    <a href="#">Rastrear pedido</a>
                </nav>
            </div>
            <div>
                <p>Síguenos</p>
                <ul>
                    <li><img src="/public/img/facebook-logo.svg" alt="Logo facebook"></li>
                    <li><img src="/public/img/instagram-logo.svg" alt="Logo instagram"></li>
                    <li><img src="/public/img/twitter-logo.svg" alt="Logo twitter"></li>
                </ul>
            </div>
            <div>
                <p>Suscríbete a nuestro newsletter</p>
                <input type="text" name="newsletter" />
            </div>
        </div>
        <p>InterNerd. Todos los derechos reservados &copy;</p>
    </footer>
</body>

</html>