/*Custom variables*/

:root {
    /*Paleta de colores*/
    --rojo: #D00000;
    --naranja: #F48C06;
    --negro: #03071E;
    --blanco: #FFF;
    /*Fuente principal*/
    --fuente: 'Montserrat', sans-serif;
}


/* Globales */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 1.8;
}

p {
    color: black;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

img,
picture {
    width: 100%;
    display: block;
}

h1,
h2,
h3 {
    font-family: var(--fuente);
    margin: 2.5 0;
    font-weight: 300;
    text-align: center;
    color: var(--naranja);
}

h1 {
    font-size: 3.8rem;
    font-weight: 700;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

.section {
    margin: 0 auto;
    max-width: 120rem;
    width: 90%
}


/*Header*/

.header {
    background-color: var(--negro);
}

.header-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 1rem 2rem;
    row-gap: 2rem;
}

.header-navegacion {
    display: none;
}

.header-div img {
    width: 20vw;
}

.header-search {
    grid-column: 1/4;
    width: 100%;
    display: flex;
    height: 70%;
    justify-content: center;
}

.header-search input {
    padding: 0.5rem 2rem;
    border: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.header-search img {
    display: inline;
    background-color: var(--rojo);
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.3rem;
}

.sesion,
.registro {
    display: none;
}

.mobile-menu {
    grid-column: 2/3;
}

.mobile-menu {
    cursor: pointer;
}

.carrito {
    cursor: pointer;
}


/*main*/

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contenedor {
    display: flex;
    margin-right: 2rem;
}

.contenedor a {
    align-self: center;
}


/*Footer*/


/*Fomularios*/


/*Botones*/


/*Media queries*/

@media(min-width: 768px) {
    /*Header*/
    .header-div {
        display: flex;
        height: 30%;
        gap: 1rem;
    }
    .header-div>* {
        margin: 0 1rem;
    }
    .sesion,
    .registro {
        display: inline;
    }
    .user,
    .mobile-menu {
        display: none;
    }
    .header-navegacion {
        display: flex;
        border-top: 1px solid #e1e1e1;
        justify-content: space-around;
        padding: 2rem;
        font-size: 2rem;
    }
    a:hover {
        color: var(--rojo);
    }
    .header-search {
        order: -1;
        max-height: 40%;
        margin-right: 1rem;
    }
    .header-search input {
        width: 90%;
    }
    .header-search img {
        width: 20%;
        height: 100% !important;
    }
    .logo {
        order: -1;
    }
    .header-div img {
        height: 50%;
    }
    .main {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .contenedor {
        display: flex;
        margin-right: 2rem;
        width: 50rem;
        height: 50rem;
    }
}