<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>

            <h2>Registrarme</h2>
            <section class="section">
                <form class="section form">
                    <div class="campo">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" placeholder="Nombre" />
                    </div>
                    <div class="campo">
                        <label for="apellidos">Apellidos:</label>
                        <input type="text" name="apellidos" placeholder="Apellidos" />
                    </div>
                    <div class="campo">
                        <label for="email">Email:</label>
                        <input type="email" name="email" placeholder="Email" />
                    </div>
                    <div class="campo">
                        <label for="contraseña">Contraseña:</label>
                        <input type="password" name="contraseña" placeholder="Contraseña" />
                    </div>
                    <div class="campo">
                        <label for="confirmacion">Confirmación de contraseña:</label>
                        <input type="password" name="confirmacion" placeholder="Confirmar" />
                    </div>
                    <button type="submit" class="btn">Resgístrame</button>
                    <a href="/users/login" class="cuenta">
                        <button class="btn">Ya tengo una cuenta</button>
                    </a>
                </form>
            </section>
            <section class="section iconos">
                <div>
                    <img src="/public/img/Seguridad.svg" alt="ícono de seguridad">
                    <p>Siéntete seguro de hacer tus compras</p>
                </div>
                <div>
                    <img src="/public/img/Calidad.svg" alt="ícono de seguridad">
                    <p>Productos de calidad siempreson recibidos</p>
                </div>
                <div>
                    <img src="/public/img/Camion.svg" alt="ícono de seguridad">
                    <p>Llegan hasta la puerta de tu casa</p>
                </div>
            </section>
            <%- include('../partials/footer')%>

                <script src="/public/js/app.js">
                </script>
    </body>

</html>