<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>
            <h2>Perfil del usuario próximamente en Internerd</h2>
            <%- include('../partials/footer')%>
    </body>

</html>