<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../public/css/styles_carrito.css">
    </link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </link>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>carrito compra</title>
</head>

<body>
    <!-- <header>
        <h1 class="carrito">Mi carrito</h1>
        <i class="fas fa-shopping-cart"></i>
    </header>
    <main>
    </main>
    <footer></footer> -->

    <div id="carrito">
        <div id="titleCarrito">

            <button><i class="fas fa-shopping-cart"></i></button>
            <h2>Resumen de tu Pedido</h2>
            <button><i class="far fa-times-circle"></i></button>

        </div>

        <div id="descCarrito">

            <p>Tu compra 100% protegida</p>
            <img src="../public/img/candado2.svg" id="candado" alt="candado">

        </div>

        <div class="producto">
            
            <i class="fas fa-times-circle" id="close"></i>
            <img src="/Public/img/Producto.jpg" alt="producto">
            <p id="tituloProd"><strong>Homero Simpsons</strong></p></img>
            <p id="precioProd">$200.00</p>
            

            <div class="signal">

                <i class="fas fa-plus-square" id="mas"></i>
                <i class="fas fa-minus-square" id="menos"></i>

            </div>
            
        
            <div class="footerWidth">
                
                <button id="boton1" type="submit">Finalizar Pedido</button>
                <button id="boton2" type="button">Ir a Carrito</button>
                <h5>Continuar Comprando</h5>
                <h4 class="totalPrecio">Total</h4>
                <p class="totalPrecio"><strong>$200.00</strong></p>
                

            </div>

        </div>




    </div>

</body>

</html>