<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../public/css/styles_carrito.css">
    </link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>carrito compra</title>
</head>

<body>
   <!-- <header>
        <h1 class="carrito">Mi carrito</h1>
        <i class="fas fa-shopping-cart"></i>
    </header>
    <main>
    </main>
    <footer></footer> -->

    <div id="carrito">
        <div id="titleCarrito">
            <button><i class="fas fa-shopping-cart"></i></button>
            <h2>Resumen de Pedido</h2>
            <button><i class="far fa-times-circle"></i></button>
        </div>
        <div id="descCarrito">
            <p>Tu compra 100% protegida</p>
            <i class="fas fa-lock"></i>
        </div>
        <div id="prodsCarrito">
            <div id="prodCarrito"></div>
        </div>
        <div id="checkOutCarrito"></div>
    </div>

</body>

</html>